@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.pins {
  margin-left: 1.6rem;
  overflow: hidden;

  &__content {
    height: calc(100vh - 6rem);
    overflow: auto;
    margin-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}